Repository CodeSystem2022/TercerSemestreMateCoders, pull requests merged in 2023-06, with the labels that each got.

#39 Carga de ejercicio de JavaScript clase 12/06
  LABORATORIO/JAVASCRIPT/TSProyectoPrueba08/Orden.js
Labels: JavaScript

#40 Ejercicio de la clase10 de Python. 12/06
  LABORATORIO/PYTHON/Leccion07/capa_datos_oersona/conexion.py
  LABORATORIO/PYTHON/Leccion07/capa_datos_oersona/persona_dao.py
Labels: Python

#41 Carga de ejercicios JAVA 14/06
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/.gitignore
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/codeStyles/Project.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/codeStyles/codeStyleConfig.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/jpa-buddy.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/misc.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/modules.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/uiDesigner.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/.idea/vcs.xml
  PROGRAMACION/Leccion10/Leccion10/Persona/ListarPersonas.iml
  PROGRAMACION/Leccion10/Leccion10/Persona/out/production/ListarPersonas/ListadoPersonasApp.class
  PROGRAMACION/Leccion10/Leccion10/Persona/out/production/ListarPersonas/Persona.class
  PROGRAMACION/Leccion10/Leccion10/Persona/src/ListadoPersonasApp.java
  PROGRAMACION/Leccion10/Leccion10/Persona/src/Persona.java
Labels: Java
